
header {
   
position: absolute;
overflow-y: hidden;
width: 100%;
height: 126px;
left: 0px;
right: 0px;
    
background: #000000;;
}

header img {
position: absolute;
width: 171px;
height: 121px;
left: 41px;
top: 3px;

background: url(b5ed5298cea27075aea8b03bc551ad88-removebg-preview.png);
}

button:hover {
    background-color: #fafffab5; /* Green */
    color: white;
    border-radius: 6px;
  }

.inicio {
  
    position: absolute;
    width: 137px;
    height: 60px;
    left: 337px;
    
    
    MARGIN-top: 39px;
    
    font-family: 'Imprint MT Shadow';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    
    color: #FFFFFF;

    background-color: transparent;
    }

.personajes{
position: absolute;
width: 229px;
height: 60px;
left: 506px;
Margin-top: 39px;

font-family: 'Imprint MT Shadow';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;

color: #FFFFFF;
background-color: transparent;
}



.peliculas{
    position: absolute;
    width: 208px;
    height: 60px;
    left: 767px;
    margin-top: 39px;
    
    font-family: 'Imprint MT Shadow';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    
    color: #FFFFFF;
    background-color: transparent;
}

.casas{
    position: absolute;
    width: 117px;
    height: 60px;
    left: 1007px;
    margin-top: 39px;
    
    font-family: 'Imprint MT Shadow';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    
    color: #FFFFFF;
    background-color: transparent;
}

.novedades{
    position: absolute;
    width: 235px;
    height: 60px;
    left: 1156px;
    margin-top: 39px;
    
    font-family: 'Imprint MT Shadow';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    
    color: #FFFFFF;
    background-color: transparent;
}